streamlit
pillow  
folium 
streamlit-folium
streamlit-modal
requests 
beautifulsoup4
pytz
streamlit-elements
openai
pymupdf
google-generativeai
PyPDF2 
faiss-cpu
sentence-transformers 
SpeechRecognition
